In [90]:
# This project is a tutorial on how to use pandas and numpy to clean data and analyze it.
# In this project, i am going to work with a dataset of used cars from eBay. 
# I will be using only numpy and pandas to focus only on these two python libraries.

In [91]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [92]:
autos.head(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [93]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [94]:
# We can see that our dataset contains 50 000 and 20 columns. 
# We immediatly notice that some of these columns like "vehicleType" or "gearbox"
# contain some missing values (under 20% of total entries) which will have to be treated later.
# Column names are not using the snakecase typographic convention which is preffered when using Python.

In [95]:
#First let's convert the column names from camelcase to snakecase
autos.rename(columns = {'dateCrawled':'date_crawled', 'offerType':'offer_type', 'vehicleType':'vehicle_type', 
              'yearOfRegistration':'registration_year', 'monthOfRegistration':'registration_month', 'fuelType':'fuel_type',
              'notRepairedDamage':'unrepaired_damage', 'dateCreated':'date_created', 'nrOfPictures':'pictures_nr', 
              'postalCode':'postal_code', 'lastSeen':'last_seen'}, inplace = True)
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'date_created', 'pictures_nr', 'postal_code',
       'last_seen'],
      dtype='object')

In [96]:
# Next, let's look at the descriptive statistics of these columns...
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,pictures_nr,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-12 16:06:22,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [97]:
# We notice that almost all entries of columns 'seller' and 'offer_type' have the same value (respectively "privat" and "Angebot").
# Column 'abtest' have only two values distributed almost equally.
# Column 'gearbox' contains 36993 occurences of 'manuell', 10327 occurences of another value and 2680 missing values.
# Considering the most frequent value of "odometer", we need to rename this column "odometer_km". 
# Finally some numeric columns like "price" and "odometer" are numerical data stored as text.

In [98]:
# renaming column 'odometer"...
autos.rename(columns = {'odometer':'odometer_km'}, inplace = True)

In [99]:
# Removing non-numeric characters of column 'price' and converting them to numeric dtype...
autos["price"].value_counts()

$0          1421
$500         781
$1,500       734
$2,500       643
$1,000       639
$1,200       639
$600         531
$800         498
$3,500       498
$2,000       460
$999         434
$750         433
$900         420
$650         419
$850         410
$700         395
$4,500       394
$300         384
$2,200       382
$950         379
$1,100       376
$1,300       371
$3,000       365
$550         356
$1,800       355
$5,500       340
$350         335
$1,250       335
$1,600       327
$1,999       322
            ...
$4,475         1
$251           1
$3,795         1
$37,300        1
$27,690        1
$255           1
$31,313        1
$15,670        1
$9,280         1
$7,234         1
$24,242        1
$22,890        1
$17,290        1
$22,200        1
$23,899        1
$65,990        1
$25,699        1
$135,000       1
$4,275         1
$16,960        1
$22,880        1
$5,298         1
$1,845         1
$69,900        1
$47,499        1
$55,800        1
$2,570         1
$19,780        1
$3,055         1
$35,800        1
Name: price, Length: 2357, dtype: int64

In [100]:
autos["price"] = autos["price"].str.replace('$','').str.replace(',','').str.replace('.','').astype('int64')

In [101]:
autos['price'].value_counts()

0         1421
500        781
1500       734
2500       643
1000       639
1200       639
600        531
800        498
3500       498
2000       460
999        434
750        433
900        420
650        419
850        410
700        395
4500       394
300        384
2200       382
950        379
1100       376
1300       371
3000       365
550        356
1800       355
5500       340
1250       335
350        335
1600       327
1999       322
          ...
46200        1
29600        1
13480        1
21700        1
7373         1
3279         1
4286         1
188          1
17830        1
9130         1
910          1
238          1
2671         1
69900        1
151990       1
2479         1
4510         1
86500        1
47499        1
16998        1
27299        1
41850        1
4780         1
686          1
6495         1
20790        1
8970         1
846          1
2895         1
33980        1
Name: price, Length: 2357, dtype: int64

In [102]:
# Same for column 'odometer_km'...
autos['odometer_km'].value_counts()

150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer_km, dtype: int64

In [103]:
autos["odometer_km"] = autos["odometer_km"].str.replace('km','').str.replace(',','').astype('int64')
autos['odometer_km'].value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

In [104]:
# Now let's check if there is any outliers by reusing describe() method.
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,pictures_nr,postal_code,last_seen
count,50000,50000,50000,50000,5.000000e+04,50000,44905,50000.000000,47320,50000.000000,47242,50000.000000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,NaN,2,8,NaN,2,NaN,245,NaN,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-12 16:06:22,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,NaN,25756,12859,NaN,36993,NaN,4024,NaN,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,9.840044e+03,NaN,NaN,2005.073280,NaN,116.355920,NaN,125732.700000,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,4.811044e+05,NaN,NaN,105.712813,NaN,209.216627,NaN,40042.211706,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,1.100000e+03,NaN,NaN,1999.000000,NaN,70.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,1.000000e+08,NaN,NaN,9999.000000,NaN,17700.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [105]:
# We can see that 'registration_year' contains some absurd values considering his min and max. Let's deal with it by identifying
# values which are below 1900 and over 2020...
registration_year_outliers = autos.loc[~(autos['registration_year'].between(1900,2020)), :]
registration_year_outliers['registration_year'].shape

(24,)

In [106]:
# Column 'registration_year' possesses 24 outliers:
registration_year_outliers['registration_year'].value_counts()

9999    4
5000    4
9000    2
1800    2
1001    1
1500    1
6200    1
1111    1
4500    1
5911    1
2800    1
9996    1
8888    1
1000    1
4100    1
4800    1
Name: registration_year, dtype: int64

In [107]:
# to treat the outliers, we have the choice of either deleting them or replacing them with a value close to the mean. 
# Considering that removing these outliers will not cause a large amount of data loss, I choose the first option...

autos.drop(registration_year_outliers.index, inplace=True)

In [108]:
# No more outliers left in the column 'registration_year':

autos.loc[~(autos['registration_year'].between(1900,2020)), :].shape

(0, 20)

In [109]:
# Let's do the same for column 'registration_month'...

registration_month_outliers = autos.loc[~(autos['registration_month'].between(1,12)), :]
registration_month_outliers.shape

(5060, 20)

In [110]:
# We can see that we have 5060 entries which have zero as a registration month which is not correct. Even though there is a 
# quite large amount of data involved, it is not a good idea to replace these outliers with a random month or a mean value so we 
# have to remove them.

autos.drop(registration_month_outliers.index, inplace=True)
autos.loc[~(autos['registration_month'].between(1,12)), :].shape

(0, 20)

In [111]:
# Now let's do the same for other columns...
price_outliers = autos.loc[~(autos['price'].between(100,5000000)), :]
price_outliers['price'].value_counts()

0           827
1            88
50           26
99           15
80            9
60            5
90            4
70            3
12345678      2
10            2
75            2
30            2
17            1
13            1
11            1
3             1
9             1
5             1
2             1
10000000      1
20            1
47            1
40            1
45            1
99999999      1
49            1
11111111      1
55            1
65            1
66            1
79            1
89            1
27322222      1
Name: price, dtype: int64

In [112]:
autos.drop(price_outliers.index, inplace=True)

In [113]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,pictures_nr,postal_code,last_seen
count,43910,43910,43910,43910,4.391000e+04,43910,40995,43910.000000,42635,43910.000000,42190,43910.000000,43910.000000,41461,43910,37524,43910,43910.0,43910.000000,43910
unique,42524,33493,2,1,NaN,2,8,NaN,2,NaN,245,NaN,NaN,7,40,2,76,NaN,NaN,35338
top,2016-03-23 19:38:20,Volkswagen_Golf_1.4,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,75,43909,43910,NaN,22599,11854,NaN,33055,NaN,3506,NaN,NaN,26992,9211,33481,1722,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,6.475719e+03,NaN,NaN,2003.664313,NaN,122.187087,NaN,125399.567297,6.371624,NaN,NaN,NaN,NaN,0.0,51222.507698,NaN
std,NaN,NaN,NaN,NaN,2.386850e+04,NaN,NaN,7.257104,NaN,208.264005,NaN,39426.274067,3.349419,NaN,NaN,NaN,NaN,0.0,25724.252845,NaN
min,NaN,NaN,NaN,NaN,1.000000e+02,NaN,NaN,1927.000000,NaN,0.000000,NaN,5000.000000,1.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,1.400000e+03,NaN,NaN,1999.000000,NaN,75.000000,NaN,100000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30916.000000,NaN
50%,NaN,NaN,NaN,NaN,3.415000e+03,NaN,NaN,2004.000000,NaN,110.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,50181.000000,NaN
75%,NaN,NaN,NaN,NaN,7.900000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,72134.000000,NaN
max,NaN,NaN,NaN,NaN,3.890000e+06,NaN,NaN,2019.000000,NaN,17700.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [114]:
# We can see that our dataset looks cleaner with consistent values. In total, 6090 lines have been deleted. I would like 
# to remind that the goal of this project is to see what i can do with pandas only. There is, of course, better way to treat 
# outliers like data visualisation (bar plots, scatter plots...) or z-score. I will be using these in the next projects.

In [115]:
# Now, let's move on the date columns. We have, in total, 5 columns that represent date values: 'date_crawled', 'last_seen',
# 'date_created', 'registration_month' and 'registration_year'. We already managed to identify outliers from 'registration_year' because we
# and remove them because they had a numerical type. For other columns, they are all identified as string values by Pandas so we
# need to convert them into numerical representations so we can analyse them quantitatively.

date_df = autos['date_crawled']
date_df.head(5)

0    2016-03-26 17:47:46
1    2016-04-04 13:38:56
2    2016-03-26 18:57:24
3    2016-03-12 16:58:10
4    2016-04-01 14:38:50
Name: date_crawled, dtype: object

In [116]:
autos[['date_crawled', 'last_seen', 'date_created']] = autos[['date_crawled', 'last_seen', 'date_created']].apply(pd.to_datetime)
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43910 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          43910 non-null datetime64[ns]
name                  43910 non-null object
seller                43910 non-null object
offer_type            43910 non-null object
price                 43910 non-null int64
abtest                43910 non-null object
vehicle_type          40995 non-null object
registration_year     43910 non-null int64
gearbox               42635 non-null object
powerPS               43910 non-null int64
model                 42190 non-null object
odometer_km           43910 non-null int64
registration_month    43910 non-null int64
fuel_type             41461 non-null object
brand                 43910 non-null object
unrepaired_damage     37524 non-null object
date_created          43910 non-null datetime64[ns]
pictures_nr           43910 non-null int64
postal_code           43910 non-null int64
last_seen             43910 non-null datetime64[ns]
dtypes: datetime64[ns](3), int64(7), object(10)
memory usage: 7.0+ MB

In [117]:
# Now that our date columns have been converted to the date format, let's identify the outliers using pandas.Series.dt

date_outliers = autos.loc[~(autos['date_crawled'].dt.year.between(1900,2020))|
                          ~(autos['last_seen'].dt.year.between(1900,2020))|
                          ~(autos['date_created'].dt.year.between(1900,2020)),
                          :]
date_outliers.shape

(0, 20)

In [118]:
# As we can see, we have no outliers in the date columns so we can continue.

autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,pictures_nr,postal_code,last_seen
count,43910,43910,43910,43910,4.391000e+04,43910,40995,43910.000000,42635,43910.000000,42190,43910.000000,43910.000000,41461,43910,37524,43910,43910.0,43910.000000,43910
unique,42524,33493,2,1,NaN,2,8,NaN,2,NaN,245,NaN,NaN,7,40,2,76,NaN,NaN,35338
top,2016-03-25 19:57:10,Volkswagen_Golf_1.4,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,75,43909,43910,NaN,22599,11854,NaN,33055,NaN,3506,NaN,NaN,26992,9211,33481,1722,NaN,NaN,8
first,2016-03-05 14:06:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-11 00:00:00,NaN,NaN,2016-03-05 14:45:46
last,2016-04-07 14:36:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-07 00:00:00,NaN,NaN,2016-04-07 14:58:50
mean,NaN,NaN,NaN,NaN,6.475719e+03,NaN,NaN,2003.664313,NaN,122.187087,NaN,125399.567297,6.371624,NaN,NaN,NaN,NaN,0.0,51222.507698,NaN
std,NaN,NaN,NaN,NaN,2.386850e+04,NaN,NaN,7.257104,NaN,208.264005,NaN,39426.274067,3.349419,NaN,NaN,NaN,NaN,0.0,25724.252845,NaN
min,NaN,NaN,NaN,NaN,1.000000e+02,NaN,NaN,1927.000000,NaN,0.000000,NaN,5000.000000,1.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,1.400000e+03,NaN,NaN,1999.000000,NaN,75.000000,NaN,100000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30916.000000,NaN
50%,NaN,NaN,NaN,NaN,3.415000e+03,NaN,NaN,2004.000000,NaN,110.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,50181.000000,NaN
75%,NaN,NaN,NaN,NaN,7.900000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,72134.000000,NaN
max,NaN,NaN,NaN,NaN,3.890000e+06,NaN,NaN,2019.000000,NaN,17700.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [119]:
# Now, i want to translate value from columns 'seller', 'gearbox' and 'unrepaired_damage' from german to english.

autos['seller'].value_counts()

privat        43909
gewerblich        1
Name: seller, dtype: int64

In [120]:
autos['gearbox'].value_counts()

manuell      33055
automatik     9580
Name: gearbox, dtype: int64

In [121]:
autos['unrepaired_damage'].value_counts()

nein    33481
ja       4043
Name: unrepaired_damage, dtype: int64

In [122]:
mapping_dict = {'privat':'private', 'gewerblich':'commercial', 'manuell':'manual', 'automatik':'automatic', 
                'nein':'no', 'ja':'yes'}

autos['seller'] = autos['seller'].map(mapping_dict)
autos['gearbox'] = autos['gearbox'].map(mapping_dict)
autos['unrepaired_damage'] = autos['unrepaired_damage'].map(mapping_dict)

In [123]:
autos[['seller','gearbox','unrepaired_damage']].head(5)

    seller    gearbox unrepaired_damage
0  private     manual                no
1  private  automatic                no
2  private     manual                no
3  private  automatic                no
4  private     manual                no

In [124]:
# We noticed before that we had multiple missing values so let's deal with them. Let's see how many missing values we have
# for each column...
count_nan = len(autos) - autos.count()
count_nan

date_crawled             0
name                     0
seller                   0
offer_type               0
price                    0
abtest                   0
vehicle_type          2915
registration_year        0
gearbox               1275
powerPS                  0
model                 1720
odometer_km              0
registration_month       0
fuel_type             2449
brand                    0
unrepaired_damage     6386
date_created             0
pictures_nr              0
postal_code              0
last_seen                0
dtype: int64

In [125]:
autos.shape

(43910, 20)

In [126]:
# All the columns involved have string values so we can't replace them by mean to reduce data loss so we have to remove them...

autos.dropna(subset=['vehicle_type', 'gearbox', 'model', 'fuel_type', 'unrepaired_damage'], inplace=True)
autos.shape

(33598, 20)

In [127]:
# As we can see, 10 312 rows containing missing values have been removed.

autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,pictures_nr,postal_code,last_seen
count,33598,33598,33598,33598,33598.000000,33598,33598,33598.000000,33598,33598.000000,33598,33598.000000,33598.000000,33598,33598,33598,33598,33598.0,33598.000000,33598
unique,32747,24531,1,1,NaN,2,8,NaN,2,NaN,242,NaN,NaN,7,39,2,67,NaN,NaN,27803
top,2016-03-19 17:36:18,Volkswagen_Golf_1.4,private,Angebot,NaN,test,limousine,NaN,manual,NaN,golf,NaN,NaN,benzin,volkswagen,no,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,74,33598,33598,NaN,17334,9826,NaN,25738,NaN,2666,NaN,NaN,21514,6889,30236,1344,NaN,NaN,7
first,2016-03-05 14:06:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-10 00:00:00,NaN,NaN,2016-03-05 14:45:46
last,2016-04-07 14:36:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-07 00:00:00,NaN,NaN,2016-04-07 14:58:50
mean,NaN,NaN,NaN,NaN,6991.250967,NaN,NaN,2003.536044,NaN,128.736681,NaN,123721.650098,6.353325,NaN,NaN,NaN,NaN,0.0,52010.348562,NaN
std,NaN,NaN,NaN,NaN,12292.572785,NaN,NaN,6.396959,NaN,185.684059,NaN,39860.493872,3.354583,NaN,NaN,NaN,NaN,0.0,25777.213124,NaN
min,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,1931.000000,NaN,0.000000,NaN,5000.000000,1.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,1650.000000,NaN,NaN,2000.000000,NaN,80.000000,NaN,100000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,31319.000000,NaN
50%,NaN,NaN,NaN,NaN,3990.000000,NaN,NaN,2004.000000,NaN,116.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,51149.000000,NaN
75%,NaN,NaN,NaN,NaN,8900.000000,NaN,NaN,2008.000000,NaN,155.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,73054.000000,NaN
max,NaN,NaN,NaN,NaN,999999.000000,NaN,NaN,2018.000000,NaN,17700.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [128]:
# Now that our dataset is fully cleaned, let's dig into more deep analysis. First, it is interesting to know what is the  
# vehicle type the most sold by brand. For this analysis, we are going to select only the brands that have over 50 records
# in the dataset. Moreover, i'm going to create a dictionnary which will contain multiple informations about each brand so we can
# identify new patterns.


brand_value_counts = autos['brand'].value_counts()
brand_value_counts_df = brand_value_counts.to_frame().loc[brand_value_counts.to_frame()['brand']>50,:]
brand_arr = brand_value_counts_df.index

brand_informations = {}

for brand in brand_arr:
    if brand not in brand_informations:
        brand_informations[brand] = {}
    tmp = autos.loc[autos['brand']==brand,:]
    brand_informations[brand]['most_popular_vehicle_type'] = tmp['vehicle_type'].value_counts().index[0]
    brand_informations[brand]['%_most_popular_vehicle_type'] = int(round(tmp['vehicle_type'].value_counts()[0]/tmp['vehicle_type'].count()*100,0))
    

brand_informations

{'alfa_romeo': {'%_most_popular_vehicle_type': 46,
  'most_popular_vehicle_type': 'limousine'},
 'audi': {'%_most_popular_vehicle_type': 41,
  'most_popular_vehicle_type': 'kombi'},
 'bmw': {'%_most_popular_vehicle_type': 50,
  'most_popular_vehicle_type': 'limousine'},
 'chevrolet': {'%_most_popular_vehicle_type': 38,
  'most_popular_vehicle_type': 'kleinwagen'},
 'chrysler': {'%_most_popular_vehicle_type': 35,
  'most_popular_vehicle_type': 'bus'},
 'citroen': {'%_most_popular_vehicle_type': 35,
  'most_popular_vehicle_type': 'kleinwagen'},
 'dacia': {'%_most_popular_vehicle_type': 32,
  'most_popular_vehicle_type': 'kleinwagen'},
 'daihatsu': {'%_most_popular_vehicle_type': 70,
  'most_popular_vehicle_type': 'kleinwagen'},
 'fiat': {'%_most_popular_vehicle_type': 63,
  'most_popular_vehicle_type': 'kleinwagen'},
 'ford': {'%_most_popular_vehicle_type': 32,
  'most_popular_vehicle_type': 'kleinwagen'},
 'honda': {'%_most_popular_vehicle_type': 38,
  'most_popular_vehicle_type': 'limousine'},
 'hyundai': {'%_most_popular_vehicle_type': 31,
  'most_popular_vehicle_type': 'kleinwagen'},
 'jaguar': {'%_most_popular_vehicle_type': 79,
  'most_popular_vehicle_type': 'limousine'},
 'jeep': {'%_most_popular_vehicle_type': 100,
  'most_popular_vehicle_type': 'suv'},
 'kia': {'%_most_popular_vehicle_type': 33,
  'most_popular_vehicle_type': 'suv'},
 'land_rover': {'%_most_popular_vehicle_type': 100,
  'most_popular_vehicle_type': 'suv'},
 'mazda': {'%_most_popular_vehicle_type': 30,
  'most_popular_vehicle_type': 'limousine'},
 'mercedes_benz': {'%_most_popular_vehicle_type': 42,
  'most_popular_vehicle_type': 'limousine'},
 'mini': {'%_most_popular_vehicle_type': 59,
  'most_popular_vehicle_type': 'kleinwagen'},
 'mitsubishi': {'%_most_popular_vehicle_type': 44,
  'most_popular_vehicle_type': 'limousine'},
 'nissan': {'%_most_popular_vehicle_type': 35,
  'most_popular_vehicle_type': 'kleinwagen'},
 'opel': {'%_most_popular_vehicle_type': 33,
  'most_popular_vehicle_type': 'kleinwagen'},
 'peugeot': {'%_most_popular_vehicle_type': 39,
  'most_popular_vehicle_type': 'kleinwagen'},
 'porsche': {'%_most_popular_vehicle_type': 44,
  'most_popular_vehicle_type': 'cabrio'},
 'renault': {'%_most_popular_vehicle_type': 48,
  'most_popular_vehicle_type': 'kleinwagen'},
 'saab': {'%_most_popular_vehicle_type': 35,
  'most_popular_vehicle_type': 'limousine'},
 'seat': {'%_most_popular_vehicle_type': 50,
  'most_popular_vehicle_type': 'kleinwagen'},
 'skoda': {'%_most_popular_vehicle_type': 51,
  'most_popular_vehicle_type': 'kombi'},
 'smart': {'%_most_popular_vehicle_type': 68,
  'most_popular_vehicle_type': 'kleinwagen'},
 'subaru': {'%_most_popular_vehicle_type': 56,
  'most_popular_vehicle_type': 'kombi'},
 'suzuki': {'%_most_popular_vehicle_type': 50,
  'most_popular_vehicle_type': 'kleinwagen'},
 'toyota': {'%_most_popular_vehicle_type': 37,
  'most_popular_vehicle_type': 'kleinwagen'},
 'volkswagen': {'%_most_popular_vehicle_type': 31,
  'most_popular_vehicle_type': 'limousine'},
 'volvo': {'%_most_popular_vehicle_type': 60,
  'most_popular_vehicle_type': 'kombi'}}

In [129]:
# Let's add some more informations into our dictionary...

for brand in brand_arr:
    tmp = autos.loc[autos['brand']==brand,:]
    brand_informations[brand]['mean_odometer_km'] = tmp['odometer_km'].mean()
    brand_informations[brand]['mean_price'] = tmp['price'].mean()
    brand_informations[brand]['most_popular_fuel_type'] = tmp['fuel_type'].value_counts().index[0]
    brand_informations[brand]['%_most_popular_fuel_type'] = int(round(tmp['fuel_type'].value_counts()[0]/tmp['fuel_type'].count()*100,0))    

brand_informations

{'alfa_romeo': {'%_most_popular_fuel_type': 75,
  '%_most_popular_vehicle_type': 46,
  'mean_odometer_km': 129913.04347826086,
  'mean_price': 4574.04347826087,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'audi': {'%_most_popular_fuel_type': 50,
  '%_most_popular_vehicle_type': 41,
  'mean_odometer_km': 126098.74152952565,
  'mean_price': 10704.600838980316,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kombi'},
 'bmw': {'%_most_popular_fuel_type': 57,
  '%_most_popular_vehicle_type': 50,
  'mean_odometer_km': 131382.41256969082,
  'mean_price': 9346.682463253928,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'chevrolet': {'%_most_popular_fuel_type': 75,
  '%_most_popular_vehicle_type': 38,
  'mean_odometer_km': 96907.21649484536,
  'mean_price': 7277.81443298969,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'chrysler': {'%_most_popular_fuel_type': 67,
  '%_most_popular_vehicle_type': 35,
  'mean_odometer_km': 134878.0487804878,
  'mean_price': 3858.0,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'bus'},
 'citroen': {'%_most_popular_fuel_type': 62,
  '%_most_popular_vehicle_type': 35,
  'mean_odometer_km': 117098.76543209876,
  'mean_price': 4144.563786008231,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'dacia': {'%_most_popular_fuel_type': 72,
  '%_most_popular_vehicle_type': 32,
  'mean_odometer_km': 83084.11214953271,
  'mean_price': 6069.205607476635,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'daihatsu': {'%_most_popular_fuel_type': 100,
  '%_most_popular_vehicle_type': 70,
  'mean_odometer_km': 115068.49315068492,
  'mean_price': 1859.5205479452054,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'fiat': {'%_most_popular_fuel_type': 81,
  '%_most_popular_vehicle_type': 63,
  'mean_odometer_km': 113262.23337515684,
  'mean_price': 3316.375156838143,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'ford': {'%_most_popular_fuel_type': 66,
  '%_most_popular_vehicle_type': 32,
  'mean_odometer_km': 122407.5723830735,
  'mean_price': 4888.097550111359,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'honda': {'%_most_popular_fuel_type': 90,
  '%_most_popular_vehicle_type': 38,
  'mean_odometer_km': 120570.34220532319,
  'mean_price': 4771.003802281369,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'hyundai': {'%_most_popular_fuel_type': 67,
  '%_most_popular_vehicle_type': 31,
  'mean_odometer_km': 101900.82644628099,
  'mean_price': 5945.3746556473825,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'jaguar': {'%_most_popular_fuel_type': 61,
  '%_most_popular_vehicle_type': 79,
  'mean_odometer_km': 122631.57894736843,
  'mean_price': 13349.59649122807,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'jeep': {'%_most_popular_fuel_type': 49,
  '%_most_popular_vehicle_type': 100,
  'mean_odometer_km': 127011.49425287357,
  'mean_price': 11879.965517241379,
  'most_popular_fuel_type': 'diesel',
  'most_popular_vehicle_type': 'suv'},
 'kia': {'%_most_popular_fuel_type': 54,
  '%_most_popular_vehicle_type': 33,
  'mean_odometer_km': 109567.66917293234,
  'mean_price': 6461.473684210527,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'suv'},
 'land_rover': {'%_most_popular_fuel_type': 83,
  '%_most_popular_vehicle_type': 100,
  'mean_odometer_km': 117771.0843373494,
  'mean_price': 20360.77108433735,
  'most_popular_fuel_type': 'diesel',
  'most_popular_vehicle_type': 'suv'},
 'mazda': {'%_most_popular_fuel_type': 76,
  '%_most_popular_vehicle_type': 30,
  'mean_odometer_km': 121270.16129032258,
  'mean_price': 5001.163306451613,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'mercedes_benz': {'%_most_popular_fuel_type': 54,
  '%_most_popular_vehicle_type': 42,
  'mean_odometer_km': 129571.3876146789,
  'mean_price': 9635.323107798165,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'mini': {'%_most_popular_fuel_type': 90,
  '%_most_popular_vehicle_type': 59,
  'mean_odometer_km': 87267.75956284153,
  'mean_price': 10957.371584699453,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'mitsubishi': {'%_most_popular_fuel_type': 79,
  '%_most_popular_vehicle_type': 44,
  'mean_odometer_km': 125929.36802973978,
  'mean_price': 3888.985130111524,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'nissan': {'%_most_popular_fuel_type': 73,
  '%_most_popular_vehicle_type': 35,
  'mean_odometer_km': 115498.15498154981,
  'mean_price': 5391.743542435424,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'opel': {'%_most_popular_fuel_type': 76,
  '%_most_popular_vehicle_type': 33,
  'mean_odometer_km': 127137.77777777778,
  'mean_price': 3519.1668148148146,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'peugeot': {'%_most_popular_fuel_type': 76,
  '%_most_popular_vehicle_type': 39,
  'mean_odometer_km': 124420.57942057942,
  'mean_price': 3516.0449550449553,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'porsche': {'%_most_popular_fuel_type': 93,
  '%_most_popular_vehicle_type': 44,
  'mean_odometer_km': 97293.38842975207,
  'mean_price': 49140.03719008264,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'cabrio'},
 'renault': {'%_most_popular_fuel_type': 76,
  '%_most_popular_vehicle_type': 48,
  'mean_odometer_km': 125440.88176352705,
  'mean_price': 2988.2144288577156,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'saab': {'%_most_popular_fuel_type': 72,
  '%_most_popular_vehicle_type': 35,
  'mean_odometer_km': 145000.0,
  'mean_price': 3722.883333333333,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'seat': {'%_most_popular_fuel_type': 72,
  '%_most_popular_vehicle_type': 50,
  'mean_odometer_km': 118536.77621283256,
  'mean_price': 5022.001564945227,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'skoda': {'%_most_popular_fuel_type': 63,
  '%_most_popular_vehicle_type': 51,
  'mean_odometer_km': 108285.71428571429,
  'mean_price': 6938.203174603174,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kombi'},
 'smart': {'%_most_popular_fuel_type': 81,
  '%_most_popular_vehicle_type': 68,
  'mean_odometer_km': 96542.05607476635,
  'mean_price': 3926.032710280374,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'subaru': {'%_most_popular_fuel_type': 89,
  '%_most_popular_vehicle_type': 56,
  'mean_odometer_km': 126969.69696969698,
  'mean_price': 5258.030303030303,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kombi'},
 'suzuki': {'%_most_popular_fuel_type': 85,
  '%_most_popular_vehicle_type': 50,
  'mean_odometer_km': 107069.76744186046,
  'mean_price': 4638.013953488372,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'toyota': {'%_most_popular_fuel_type': 72,
  '%_most_popular_vehicle_type': 37,
  'mean_odometer_km': 114602.51046025104,
  'mean_price': 5544.018828451883,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kleinwagen'},
 'volkswagen': {'%_most_popular_fuel_type': 58,
  '%_most_popular_vehicle_type': 31,
  'mean_odometer_km': 125839.01872550443,
  'mean_price': 6580.590506604733,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'limousine'},
 'volvo': {'%_most_popular_fuel_type': 57,
  '%_most_popular_vehicle_type': 60,
  'mean_odometer_km': 138308.6053412463,
  'mean_price': 5552.658753709199,
  'most_popular_fuel_type': 'benzin',
  'most_popular_vehicle_type': 'kombi'}}

In [130]:
# It is very useful to use dictionaries to store data information if we want to use them with other python scripts. However, to have a better visibility,
# it is best to use dataframes. Pandas enables us to create dataframes from dictionaries...

df = pd.DataFrame.from_dict(brand_informations, orient='index')

brand_infos_df = df[['most_popular_vehicle_type','%_most_popular_vehicle_type','most_popular_fuel_type','%_most_popular_fuel_type','mean_odometer_km','mean_price']]

brand_infos_df

,most_popular_vehicle_type,%_most_popular_vehicle_type,most_popular_fuel_type,%_most_popular_fuel_type,mean_odometer_km,mean_price
alfa_romeo,limousine,46,benzin,75,129913.043478,4574.043478
audi,kombi,41,benzin,50,126098.741530,10704.600839
bmw,limousine,50,benzin,57,131382.412570,9346.682463
chevrolet,kleinwagen,38,benzin,75,96907.216495,7277.814433
chrysler,bus,35,benzin,67,134878.048780,3858.000000
citroen,kleinwagen,35,benzin,62,117098.765432,4144.563786
dacia,kleinwagen,32,benzin,72,83084.112150,6069.205607
daihatsu,kleinwagen,70,benzin,100,115068.493151,1859.520548
fiat,kleinwagen,63,benzin,81,113262.233375,3316.375157
ford,kleinwagen,32,benzin,66,122407.572383,4888.097550
honda,limousine,38,benzin,90,120570.342205,4771.003802
hyundai,kleinwagen,31,benzin,67,101900.826446,5945.374656
jaguar,limousine,79,benzin,61,122631.578947,13349.596491
jeep,suv,100,diesel,49,127011.494253,11879.965517
kia,suv,33,benzin,54,109567.669173,6461.473684
land_rover,suv,100,diesel,83,117771.084337,20360.771084
mazda,limousine,30,benzin,76,121270.161290,5001.163306
mercedes_benz,limousine,42,benzin,54,129571.387615,9635.323108
mini,kleinwagen,59,benzin,90,87267.759563,10957.371585
mitsubishi,limousine,44,benzin,79,125929.368030,3888.985130
nissan,kleinwagen,35,benzin,73,115498.154982,5391.743542
opel,kleinwagen,33,benzin,76,127137.777778,3519.166815
peugeot,kleinwagen,39,benzin,76,124420.579421,3516.044955
porsche,cabrio,44,benzin,93,97293.388430,49140.037190
renault,kleinwagen,48,benzin,76,125440.881764,2988.214429
saab,limousine,35,benzin,72,145000.000000,3722.883333
seat,kleinwagen,50,benzin,72,118536.776213,5022.001565
skoda,kombi,51,benzin,63,108285.714286,6938.203175
smart,kleinwagen,68,benzin,81,96542.056075,3926.032710
subaru,kombi,56,benzin,89,126969.696970,5258.030303
suzuki,kleinwagen,50,benzin,85,107069.767442,4638.013953
toyota,kleinwagen,37,benzin,72,114602.510460,5544.018828
volkswagen,limousine,31,benzin,58,125839.018726,6580.590507
volvo,kombi,60,benzin,57,138308.605341,5552.658754

In [131]:
# Let's find the parameters that can influence the mean price of a brand.

sorted_brand_infos_df = brand_infos_df.sort_values(by='mean_price', ascending=True)

sorted_brand_infos_df

,most_popular_vehicle_type,%_most_popular_vehicle_type,most_popular_fuel_type,%_most_popular_fuel_type,mean_odometer_km,mean_price
daihatsu,kleinwagen,70,benzin,100,115068.493151,1859.520548
renault,kleinwagen,48,benzin,76,125440.881764,2988.214429
fiat,kleinwagen,63,benzin,81,113262.233375,3316.375157
peugeot,kleinwagen,39,benzin,76,124420.579421,3516.044955
opel,kleinwagen,33,benzin,76,127137.777778,3519.166815
saab,limousine,35,benzin,72,145000.000000,3722.883333
chrysler,bus,35,benzin,67,134878.048780,3858.000000
mitsubishi,limousine,44,benzin,79,125929.368030,3888.985130
smart,kleinwagen,68,benzin,81,96542.056075,3926.032710
citroen,kleinwagen,35,benzin,62,117098.765432,4144.563786
alfa_romeo,limousine,46,benzin,75,129913.043478,4574.043478
suzuki,kleinwagen,50,benzin,85,107069.767442,4638.013953
honda,limousine,38,benzin,90,120570.342205,4771.003802
ford,kleinwagen,32,benzin,66,122407.572383,4888.097550
mazda,limousine,30,benzin,76,121270.161290,5001.163306
seat,kleinwagen,50,benzin,72,118536.776213,5022.001565
subaru,kombi,56,benzin,89,126969.696970,5258.030303
nissan,kleinwagen,35,benzin,73,115498.154982,5391.743542
toyota,kleinwagen,37,benzin,72,114602.510460,5544.018828
volvo,kombi,60,benzin,57,138308.605341,5552.658754
hyundai,kleinwagen,31,benzin,67,101900.826446,5945.374656
dacia,kleinwagen,32,benzin,72,83084.112150,6069.205607
kia,suv,33,benzin,54,109567.669173,6461.473684
volkswagen,limousine,31,benzin,58,125839.018726,6580.590507
skoda,kombi,51,benzin,63,108285.714286,6938.203175
chevrolet,kleinwagen,38,benzin,75,96907.216495,7277.814433
bmw,limousine,50,benzin,57,131382.412570,9346.682463
mercedes_benz,limousine,42,benzin,54,129571.387615,9635.323108
audi,kombi,41,benzin,50,126098.741530,10704.600839
mini,kleinwagen,59,benzin,90,87267.759563,10957.371585
jeep,suv,100,diesel,49,127011.494253,11879.965517
jaguar,limousine,79,benzin,61,122631.578947,13349.596491
land_rover,suv,100,diesel,83,117771.084337,20360.771084
porsche,cabrio,44,benzin,93,97293.388430,49140.037190

In [132]:
# Let's compare the data of the 5 brands with the lowest mean price with those with the highest...

sorted_brand_infos_df.head(5)
sorted_brand_infos_df.tail(5)

,most_popular_vehicle_type,%_most_popular_vehicle_type,most_popular_fuel_type,%_most_popular_fuel_type,mean_odometer_km,mean_price
daihatsu,kleinwagen,70,benzin,100,115068.493151,1859.520548
renault,kleinwagen,48,benzin,76,125440.881764,2988.214429
fiat,kleinwagen,63,benzin,81,113262.233375,3316.375157
peugeot,kleinwagen,39,benzin,76,124420.579421,3516.044955
opel,kleinwagen,33,benzin,76,127137.777778,3519.166815

,most_popular_vehicle_type,%_most_popular_vehicle_type,most_popular_fuel_type,%_most_popular_fuel_type,mean_odometer_km,mean_price
mini,kleinwagen,59,benzin,90,87267.759563,10957.371585
jeep,suv,100,diesel,49,127011.494253,11879.965517
jaguar,limousine,79,benzin,61,122631.578947,13349.596491
land_rover,suv,100,diesel,83,117771.084337,20360.771084
porsche,cabrio,44,benzin,93,97293.388430,49140.037190

In [145]:
# Based on those informations, here are the different elements that influence the price of a car :
#    > Vehicle type has a more or less significant impact on the price. A SUV or a Convertible as types will increase signifantly
#      the price while a Small car will decrease the price:

print('Mean price of brands with more than 60% of small cars:')
sorted_brand_infos_df.loc[(sorted_brand_infos_df['most_popular_vehicle_type']=='kleinwagen') & (sorted_brand_infos_df['%_most_popular_vehicle_type'] > 60),]['mean_price'].mean().round(2)

print('Mean price of brands with more than 60% of SUVs:')
sorted_brand_infos_df.loc[(sorted_brand_infos_df['most_popular_vehicle_type']=='suv') & (sorted_brand_infos_df['%_most_popular_vehicle_type'] > 60),]['mean_price'].mean().round(2)

Mean price of brands with more than 60% of small cars:

3033.98

Mean price of brands with more than 60% of SUVs:

16120.37

In [144]:
#    > Having Diesel instead of Gasoline increase the price:

print('Mean price of brands with more than 60% vehicles with diesel:')
sorted_brand_infos_df.loc[(sorted_brand_infos_df['most_popular_fuel_type']=='diesel') & (sorted_brand_infos_df['%_most_popular_fuel_type'] > 60),]['mean_price'].mean().round(2)

print('Mean price of brands with more than 60% vehicles with gasoline:')
sorted_brand_infos_df.loc[(sorted_brand_infos_df['most_popular_fuel_type']=='benzin') & (sorted_brand_infos_df['%_most_popular_fuel_type'] > 60),]['mean_price'].mean().round(2)

Mean price of brands with more than 60% vehicles with diesel:

20360.77

Mean price of brands with more than 60% vehicles with gasoline:

6904.06

In [150]:
#    > A high mileage implies a decrease in the price:

print('Mean mileage of the 7 most expensive brands:')
sorted_brand_infos_df.head(7)['mean_odometer_km'].mean().round(2)

print('Mean mileage of the 7 cheapest brands:')
sorted_brand_infos_df.tail(7)['mean_odometer_km'].mean().round(2)

sorted_brand_infos_by_odo_df = brand_infos_df.sort_values(by='mean_odometer_km', ascending=True)

print('Mean price of the 7 brands with highest mileage:')
sorted_brand_infos_by_odo_df.tail(7)['mean_price'].mean().round(2)

print('Mean price of the 7 brands with lowest mileage:')
sorted_brand_infos_by_odo_df.head(7)['mean_price'].mean().round(2)

Mean mileage of the 7 most expensive brands:

95723.59

Mean mileage of the 7 cheapest brands:

133741.61

Mean price of the 7 brands with highest mileage:

5744.11

Mean price of the 7 brands with lowest mileage:

12564.84

In [151]:
# We saw previously that brands selling exclusively small cars have the lowest mean price. However, some of these brands 
# can have a quite high mean price. Sometimes, brand image may be enough to justify a high price. The goal of the incoming analysis is to identify the 
# is to identify brands specialized on selling small cars which are considered as 'luxurious'. To do so, we are going to explain
# the reason of the high mean price for each of these brands.

sorted_brand_infos_by_odo_df.loc[(sorted_brand_infos_by_odo_df['most_popular_vehicle_type']=='kleinwagen')&
                                ((sorted_brand_infos_by_odo_df['mean_price']>5000))]

,most_popular_vehicle_type,%_most_popular_vehicle_type,most_popular_fuel_type,%_most_popular_fuel_type,mean_odometer_km,mean_price
dacia,kleinwagen,32,benzin,72,83084.112150,6069.205607
mini,kleinwagen,59,benzin,90,87267.759563,10957.371585
chevrolet,kleinwagen,38,benzin,75,96907.216495,7277.814433
hyundai,kleinwagen,31,benzin,67,101900.826446,5945.374656
toyota,kleinwagen,37,benzin,72,114602.510460,5544.018828
nissan,kleinwagen,35,benzin,73,115498.154982,5391.743542
seat,kleinwagen,50,benzin,72,118536.776213,5022.001565

In [153]:
# For Dacia, The high mean price can be explained due to the fact that, firstly, small cars only correspond to 32% of dacia cars
# sold on ebay. Moreover, dacia used cars have a really low mileage which also increases the price. By the way, this low average 
# mileage can also reveal a dissatisfaction of dacia users who put their car on sale after a short time of use.

autos.loc[autos['brand']=='dacia',]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,pictures_nr,postal_code,last_seen
53,2016-04-02 17:45:01,Dacia_Sandero_Stepway_II_MPI_85__top_gepflegt,private,Angebot,9000,control,limousine,2012,manual,84,sandero,30000,7,benzin,dacia,no,2016-04-02,0,53639,2016-04-06 16:46:50
69,2016-03-21 18:58:06,Dacia_Sandero_1.4_MPI__Basis,private,Angebot,2500,test,kleinwagen,2009,manual,75,sandero,90000,5,benzin,dacia,no,2016-03-21,0,74388,2016-03-28 16:46:41
240,2016-03-20 23:49:25,Dacia_Sandero_1.2_16V_LPG_Laureate,private,Angebot,7100,control,kleinwagen,2012,manual,75,sandero,80000,8,benzin,dacia,no,2016-03-20,0,83527,2016-04-07 14:32:38
604,2016-04-02 13:41:15,Dacia_Duster_dCi_110_FAP_4x2_Laureat_Klima_AHK...,private,Angebot,8700,test,suv,2011,manual,107,duster,125000,5,diesel,dacia,no,2016-04-02,0,16761,2016-04-06 11:45:01
607,2016-03-28 16:57:52,Dacia_Sandero_1.4_MPI_Ambiance,private,Angebot,2500,test,kleinwagen,2009,manual,75,sandero,60000,10,benzin,dacia,no,2016-03-28,0,16727,2016-03-28 16:57:52
848,2016-03-21 11:38:18,Guenstiger_Zweitwagen,private,Angebot,3800,control,kleinwagen,2010,manual,75,sandero,20000,2,benzin,dacia,no,2016-03-21,0,99610,2016-04-02 07:16:34
1785,2016-04-03 16:50:25,Auto_zur_Verkaufen_;_Tauschen:_Dacia_LOGAN_MCV...,private,Angebot,6000,control,kombi,2010,manual,86,logan,90000,10,diesel,dacia,no,2016-04-03,0,59929,2016-04-05 16:46:02
1929,2016-03-23 00:48:40,Dacia_Logan_MCV_1.6,private,Angebot,2700,test,kombi,2010,manual,87,logan,150000,11,benzin,dacia,no,2016-03-22,0,41836,2016-04-07 04:17:00
2331,2016-03-07 17:40:59,Dacia_Logan_MCV_1.4_MIT_Gas,private,Angebot,1550,test,kombi,2007,manual,75,logan,150000,10,benzin,dacia,no,2016-03-07,0,51645,2016-03-10 09:44:59
2394,2016-03-05 20:51:25,Dacia_Sandero_1.4_MPI_Ambiance,private,Angebot,3178,control,kleinwagen,2008,manual,75,sandero,150000,10,benzin,dacia,no,2016-03-05,0,16244,2016-04-07 08:15:24
2615,2016-03-21 16:43:12,Dacia_Logan_MCV_TCe_90_Prestige,private,Angebot,10500,control,kombi,2014,manual,90,logan,20000,5,benzin,dacia,no,2016-03-21,0,40789,2016-03-21 16:43:12
2903,2016-03-16 12:40:52,Dacia_Logan_MCV_1.5_dCi_Laureate_1._Hand,private,Angebot,2250,test,kombi,2008,manual,86,logan,150000,9,diesel,dacia,no,2016-03-16,0,71636,2016-03-16 12:40:52
2971,2016-03-10 01:00:07,Dacia_Logan_MCV_1.6_Laureate,private,Angebot,4300,control,kombi,2011,manual,84,logan,80000,6,benzin,dacia,no,2016-03-09,0,66663,2016-03-13 00:46:40
4486,2016-03-17 18:54:42,Dacia_ist_verkauft!,private,Angebot,1790,control,bus,2009,manual,86,logan,125000,12,diesel,dacia,no,2016-03-17,0,72138,2016-03-17 18:54:42
4520,2016-03-14 16:59:00,Dacia_Logan_MCV_1.6_Laureate,private,Angebot,4650,test,kombi,2008,manual,87,logan,30000,4,benzin,dacia,no,2016-03-14,0,28816,2016-03-21 08:17:15
5551,2016-03-09 18:46:38,Dacia_Logan_MCV_1.5_dCi_Laureate,private,Angebot,6900,test,kombi,2011,manual,88,logan,80000,10,diesel,dacia,no,2016-03-09,0,14480,2016-03-12 19:18:21
6318,2016-04-01 20:55:42,1_4_Sandero___Tuev_neu___org_24800_km___Dacia_...,private,Angebot,3000,test,limousine,2008,manual,75,sandero,30000,7,benzin,dacia,no,2016-04-01,0,34121,2016-04-05 18:19:09
6372,2016-03-08 21:57:43,Auto_zu_verkaufen:_Dacia_Sandero_Stepway__silb...,private,Angebot,6400,control,kleinwagen,2011,manual,84,sandero,70000,7,benzin,dacia,no,2016-03-08,0,54455,2016-04-02 10:47:37
6656,2016-03-27 13:52:18,Dacia_Sandero_1.6_MPI_85_Laureate_II,private,Angebot,7900,test,kleinwagen,2012,manual,84,sandero,40000,7,benzin,dacia,no,2016-03-27,0,26180,2016-04-07 09:46:18
7338,2016-03-21 21:47:27,StepwayII_top_gepflegt_in_Mokkabraun,private,Angebot,8299,control,kleinwagen,2012,manual,105,sandero,40000,10,benzin,dacia,no,2016-03-21,0,31655,2016-04-07 01:47:07
8432,2016-03-16 11:55:12,Dacia_Logan_MCV_1.5_dCi_Laureate_1._Hand,private,Angebot,2250,test,kombi,2008,manual,86,logan,150000,9,diesel,dacia,no,2016-03-16,0,71636,2016-03-16 11:55:12
9120,2016-03-15 15:54:58,Dacia_Sandero_Stepway_TCe_90_Prestige,private,Angebot,10300,control,kleinwagen,2015,manual,90,sandero,10000,3,benzin,dacia,no,2016-03-15,0,34270,2016-03-26 18:47:23
9310,2016-03-21 09:52:00,Dacia_Sandero_1.6_MPI_Stepway,private,Angebot,4499,control,suv,2010,manual,87,sandero,100000,11,benzin,dacia,no,2016-03-21,0,24558,2016-03-31 10:46:18
10656,2016-03-30 21:36:42,Dacia_Dacia_Sandero_1.6_MPI_Stepway_1.Hand_Top...,private,Angebot,7950,test,kleinwagen,2010,manual,87,sandero,40000,8,benzin,dacia,no,2016-03-30,0,95445,2016-04-05 11:18:31
10723,2016-03-08 19:41:35,Dacia_Sandero_Stepway_dCi_90_Ambiance,private,Angebot,9980,test,kleinwagen,2013,manual,90,sandero,60000,3,diesel,dacia,no,2016-03-08,0,81373,2016-04-05 13:44:36
11120,2016-03-23 11:52:03,Dacia_Sandero_1_4_MPI,private,Angebot,2700,test,kleinwagen,2008,manual,0,sandero,100000,9,benzin,dacia,no,2016-03-23,0,99086,2016-03-23 12:42:13
11347,2016-04-05 12:38:36,Dacia_Sandero_1.6_MPI_Stepway__Klima__1.Hand_!,private,Angebot,4199,test,limousine,2010,manual,87,sandero,150000,3,benzin,dacia,no,2016-04-05,0,93309,2016-04-05 12:38:36
12406,2016-03-10 23:48:53,Dacia_Logan_1_6_Laurade_ALU_Navi_CD_WR_NSW_el....,private,Angebot,1800,test,limousine,2006,manual,87,logan,40000,3,benzin,dacia,no,2016-03-10,0,36433,2016-03-11 05:41:49
12432,2016-03-20 23:58:22,Dacia_Logan_Kombilimousine_7er_Sitzer_MCV_1.6,private,Angebot,5400,control,kombi,2012,manual,84,logan,30000,2,benzin,dacia,no,2016-03-20,0,81475,2016-03-25 01:16:40
12655,2016-03-27 13:39:40,DACIA_SANDERO_1.4_MPI_nur_20.200tkm_runter,private,Angebot,5100,test,limousine,2009,manual,75,sandero,30000,11,benzin,dacia,yes,2016-03-27,0,12351,2016-03-27 13:39:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32259,2016-04-04 11:55:07,Dacia_Sandero_Stepway_//_4_Jahre,private,Angebot,8500,control,suv,2012,manual,84,sandero,40000,5,benzin,dacia,no,2016-04-04,0,22307,2016-04-06 13:44:27
33491,2016-03-23 14:47:25,Dacia_Logan_1.6_Laureate,private,Angebot,2000,test,limousine,2006,manual,87,logan,125000,8,benzin,dacia,no,2016-03-23,0,39343,2016-04-01 19:47:17
33530,2016-03-10 20:54:19,Dacia_Duster_1.6_16V_105_4x2_Essentiel,private,Angebot,9999,test,suv,2015,manual,105,duster,5000,10,benzin,dacia,no,2016-03-10,0,66540,2016-03-16 13:18:39
33686,2016-04-01 08:52:49,Dacia_Lodgy_dCi_110__Klima__Navi__Sitzhz.__Tem...,private,Angebot,13900,test,bus,2015,manual,107,lodgy,20000,1,diesel,dacia,no,2016-04-01,0,9569,2016-04-03 05:17:06
34484,2016-03-19 17:43:09,dacia_logan_mcv,private,Angebot,2500,control,kombi,2009,manual,75,logan,125000,3,benzin,dacia,no,2016-03-19,0,22455,2016-03-19 17:43:09
34618,2016-03-24 19:36:21,Dacia_Duster_dCi_110_FAP_4x2_Laureate,private,Angebot,9800,control,suv,2011,manual,107,duster,70000,8,diesel,dacia,no,2016-03-24,0,67112,2016-04-05 13:17:11
35536,2016-03-17 19:53:16,Dacia_Logan_MCV_1.6_16V_Laureate_II_Benzin+Eth...,private,Angebot,7700,control,kombi,2012,manual,105,logan,40000,9,benzin,dacia,no,2016-03-17,0,95652,2016-04-07 08:15:40
36987,2016-03-20 12:57:39,Dacia_Sandero_1.6_MPI_Stepway,private,Angebot,7200,test,kleinwagen,2012,manual,84,sandero,20000,3,benzin,dacia,no,2016-03-20,0,52372,2016-03-21 15:21:20
37432,2016-03-22 10:50:34,Dacia_Lodgy_dCi_110_Prestige_mit_Taxi_Vollauss...,private,Angebot,5500,control,bus,2013,manual,107,lodgy,150000,10,diesel,dacia,no,2016-03-22,0,53604,2016-03-31 06:17:39
37462,2016-03-10 17:52:47,Dacia_Logan_MCV_1.6_16V_Laureate,private,Angebot,4250,control,kombi,2009,manual,105,logan,125000,7,benzin,dacia,no,2016-03-10,0,71665,2016-04-05 19:46:06
37642,2016-03-11 15:50:42,Dacia_Duster_1.6_16V_4x2_Prestige,private,Angebot,3800,test,suv,2011,manual,105,duster,80000,9,benzin,dacia,no,2016-03-11,0,6128,2016-03-11 15:50:42
37763,2016-03-28 17:50:33,Dacia_Sandero_1.6_MPI_Stepway,private,Angebot,7999,test,kleinwagen,2010,manual,87,sandero,40000,3,benzin,dacia,no,2016-03-28,0,16727,2016-04-06 23:45:56
37798,2016-03-28 20:55:07,Langstreckenfahrzeug_mit_Autogasantrieb___supe...,private,Angebot,7900,control,suv,2012,manual,107,duster,150000,4,lpg,dacia,no,2016-03-28,0,75203,2016-04-07 03:44:45
37863,2016-03-25 11:51:30,Dacia_Logan_MCV_1.6_16V_Laureate,private,Angebot,3750,test,kombi,2008,manual,105,logan,125000,12,benzin,dacia,no,2016-03-25,0,20257,2016-04-06 12:44:58
38232,2016-03-14 19:49:43,Dacia_Sandero_Stepway_TCe_90_Prestige,private,Angebot,9870,control,kleinwagen,2014,manual,90,sandero,30000,3,benzin,dacia,no,2016-03-14,0,73066,2016-03-20 10:16:23
38943,2016-03-26 08:57:38,Dacia_Duster_1.6_16V_4x2_Prestige,private,Angebot,11500,test,suv,2012,manual,105,duster,70000,1,benzin,dacia,no,2016-03-26,0,80689,2016-03-31 04:18:09
39621,2016-04-01 17:46:36,Dacia_Duster_1.6_16V_4x2_Prestige,private,Angebot,8500,test,suv,2012,manual,105,duster,150000,2,lpg,dacia,no,2016-04-01,0,59379,2016-04-05 13:15:35
40509,2016-03-10 22:46:42,Dacia_Sandero__1.2_LPG/_Benzin__schwarz__guter...,private,Angebot,7777,control,kleinwagen,2013,manual,75,sandero,80000,12,lpg,dacia,yes,2016-03-10,0,97424,2016-04-07 04:15:28
41877,2016-03-27 09:57:24,Dacia_Logan_MCV_1_6_Laureate_Scheckheft_Zahnr....,private,Angebot,3666,test,kombi,2007,manual,87,logan,100000,10,benzin,dacia,no,2016-03-27,0,46049,2016-04-06 08:45:09
41968,2016-03-24 16:49:15,Dacia_Logan_1_4_Laureate,private,Angebot,1500,control,kleinwagen,2005,manual,75,logan,150000,4,benzin,dacia,no,2016-03-24,0,15344,2016-04-07 09:17:21
43137,2016-03-29 16:54:58,Dacia_Sandero_1.4_MPI,private,Angebot,2500,control,kleinwagen,2009,manual,75,sandero,125000,5,benzin,dacia,no,2016-03-29,0,47509,2016-04-06 02:45:13
43523,2016-03-07 17:45:07,Dacia_Logan_MCV_1.5_dCi_Ambiance,private,Angebot,1500,test,kombi,2007,manual,68,logan,150000,3,diesel,dacia,no,2016-03-07,0,48455,2016-03-17 09:45:49
44517,2016-03-24 18:36:23,Dacia_Sandero_1.5_dCi,private,Angebot,2500,test,kleinwagen,2010,manual,86,sandero,150000,12,diesel,dacia,no,2016-03-24,0,55597,2016-03-24 19:43:12
44577,2016-03-08 23:36:17,Dacia_Sandero_1.4_MPI__1.Hand_,private,Angebot,1999,control,kleinwagen,2009,manual,75,sandero,125000,8,benzin,dacia,no,2016-03-08,0,69483,2016-03-12 16:16:24
44944,2016-03-08 18:37:58,Dacia_Sandero_mit_Anhaengerkupplung,private,Angebot,3000,test,kleinwagen,2008,manual,75,sandero,150000,10,benzin,dacia,no,2016-03-08,0,16244,2016-03-16 22:18:09
44957,2016-03-31 19:37:23,Dacia_Sandero_1.5_dCi_Klimaanlage_1_Hand,private,Angebot,2250,control,kleinwagen,2011,manual,88,sandero,150000,1,diesel,dacia,yes,2016-03-31,0,45886,2016-04-04 12:45:24
45755,2016-03-24 15:57:46,Dacia_Duster_dCi_85_4x2_Ambiance,private,Angebot,4350,test,suv,2010,manual,86,duster,125000,8,diesel,dacia,no,2016-03-24,0,52249,2016-03-24 15:57:46
46471,2016-03-28 13:49:44,Dacia_Duster_1.6_16V_4x2__Prestige,private,Angebot,11200,test,suv,2014,manual,105,duster,50000,4,benzin,dacia,no,2016-03-28,0,47807,2016-03-30 04:45:04
47465,2016-03-22 13:48:35,1_4_Sandero___Tuev_neu___org_24800_km___Dacia_...,private,Angebot,3000,control,limousine,2008,manual,75,sandero,30000,7,benzin,dacia,no,2016-03-22,0,34121,2016-04-06 02:45:22
48072,2016-03-15 15:39:23,Dacia_Duster_1.6_16V_4x2_/_66.000_Tkm,private,Angebot,5999,control,suv,2010,manual,105,duster,70000,6,benzin,dacia,no,2016-03-15,0,52457,2016-04-06 06:17:32

In [152]:
autos

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,pictures_nr,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,private,Angebot,5000,control,bus,2004,manual,158,andere,150000,3,lpg,peugeot,no,2016-03-26,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,private,Angebot,8500,control,limousine,1997,automatic,286,7er,150000,6,benzin,bmw,no,2016-04-04,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,private,Angebot,8990,test,limousine,2009,manual,102,golf,70000,7,benzin,volkswagen,no,2016-03-26,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,private,Angebot,4350,control,kleinwagen,2007,automatic,71,fortwo,70000,6,benzin,smart,no,2016-03-12,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,private,Angebot,1350,test,kombi,2003,manual,0,focus,150000,7,benzin,ford,no,2016-04-01,0,39218,2016-04-01 14:38:50
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,private,Angebot,1990,control,limousine,1998,manual,90,golf,150000,12,diesel,volkswagen,no,2016-03-16,0,53474,2016-04-07 03:17:32
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,private,Angebot,590,control,bus,1997,manual,90,megane,150000,7,benzin,renault,no,2016-03-16,0,15749,2016-04-06 10:46:35
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,private,Angebot,5299,control,kleinwagen,2010,automatic,71,fortwo,50000,9,benzin,smart,no,2016-03-31,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,private,Angebot,1350,control,limousine,1999,manual,101,a3,150000,11,benzin,audi,no,2016-03-23,0,12043,2016-04-01 14:17:13
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,private,Angebot,350,test,kombi,1999,manual,101,vectra,150000,5,benzin,opel,no,2016-03-16,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,private,Angebot,5500,test,coupe,1990,manual,205,scirocco,150000,6,benzin,volkswagen,no,2016-03-29,0,74821,2016-04-05 20:46:26
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,private,Angebot,4150,control,suv,2004,manual,124,andere,150000,2,lpg,mazda,no,2016-03-17,0,40878,2016-03-17 14:45:58
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,private,Angebot,41500,test,cabrio,2004,manual,320,911,150000,4,benzin,porsche,no,2016-03-06,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,private,Angebot,25450,control,cabrio,2015,manual,184,cooper,10000,1,benzin,mini,no,2016-03-28,0,44789,2016-04-01 06:45:30
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,private,Angebot,48500,control,limousine,2014,automatic,306,5er,30000,12,benzin,bmw,no,2016-04-03,0,22547,2016-04-07 13:16:50
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,private,Angebot,777,control,kleinwagen,1992,manual,54,polo,125000,2,benzin,volkswagen,no,2016-04-03,0,38110,2016-04-05 23:46:48
28,2016-03-19 21:56:19,MINI_Cooper_D,private,Angebot,5250,control,kleinwagen,2007,manual,110,cooper,150000,7,diesel,mini,yes,2016-03-19,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,private,Angebot,4999,test,kombi,2004,automatic,204,e_klasse,150000,10,diesel,mercedes_benz,no,2016-04-02,0,47638,2016-04-02 12:45:44
31,2016-03-14 16:53:09,Noch_gut_erhaltenen_C_320,private,Angebot,2850,test,kombi,2002,automatic,218,c_klasse,150000,7,benzin,mercedes_benz,no,2016-03-14,0,41065,2016-03-16 07:19:04
33,2016-03-15 12:25:26,Audi_A3_2.0_TDI_Sportback_DPF_Kupplung_defekt_...,private,Angebot,4800,test,kombi,2006,manual,140,a3,150000,8,diesel,audi,no,2016-03-15,0,61169,2016-04-07 13:15:31
35,2016-03-29 21:52:56,Ford_Mondeo,private,Angebot,1200,test,kombi,1998,manual,0,mondeo,150000,12,benzin,ford,no,2016-03-29,0,52428,2016-04-06 08:45:35
36,2016-03-16 23:46:31,Ford_Mondeo_2.0_Turnier_TDCi_DPF_Titanium,private,Angebot,7500,test,kombi,2007,manual,131,mondeo,150000,11,diesel,ford,no,2016-03-16,0,34246,2016-04-05 16:21:16
37,2016-03-23 16:47:46,Seat_Altea_XL_2.0_TDI_CR_DPF_Style,private,Angebot,13800,test,bus,2012,manual,140,altea,90000,2,diesel,seat,no,2016-03-23,0,85113,2016-04-05 20:17:53
38,2016-03-21 15:51:10,Volkswagen_Golf_1.4_Special,private,Angebot,2850,control,limousine,2002,manual,75,golf,125000,2,benzin,volkswagen,no,2016-03-21,0,63674,2016-03-28 12:16:06
39,2016-03-11 13:58:38,Mercedes_C_180_Kombi__zu_verkaufen,private,Angebot,1450,test,kombi,1999,automatic,122,c_klasse,150000,6,benzin,mercedes_benz,no,2016-03-11,0,12683,2016-04-06 15:17:52
40,2016-03-07 14:50:03,VW_Golf__4_Cabrio_2.0_GTI_16V___Leder_MFA_Alus...,private,Angebot,3500,control,cabrio,1999,manual,150,golf,150000,1,benzin,volkswagen,no,2016-03-07,0,6780,2016-03-12 02:15:52
43,2016-03-08 16:51:22,Audi_A1_1.2_TFSI_Attraction_mit_Garantie,private,Angebot,11500,test,kleinwagen,2011,manual,86,a1,60000,9,benzin,audi,no,2016-03-08,0,85049,2016-04-07 03:16:05
44,2016-03-12 10:38:06,Zu_verkaufen,private,Angebot,900,control,kleinwagen,1998,manual,43,twingo,150000,7,benzin,renault,no,2016-03-12,0,79725,2016-04-06 01:17:27
45,2016-03-12 17:39:55,Toyota_Starlet_1.3,private,Angebot,1000,test,kleinwagen,1995,manual,75,andere,150000,3,benzin,toyota,no,2016-03-12,0,74597,2016-04-07 08:45:19
47,2016-03-28 19:51:51,Mercedes_Benz_A_150,private,Angebot,3499,control,limousine,2008,manual,95,a_klasse,150000,8,benzin,mercedes_benz,no,2016-03-28,0,59557,2016-04-01 05:17:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49956,2016-03-28 22:39:12,Toyota_Yaris_1.3_VVT_i_Executive_MODEL_2007,private,Angebot,4450,control,kleinwagen,2006,manual,87,yaris,125000,9,benzin,toyota,no,2016-03-28,0,44357,2016-03-30 15:45:26
49959,2016-03-28 21:53:21,Mercedes_Benz_C_180_T_Kompressor_Classic,private,Angebot,4200,control,kombi,2003,manual,143,c_klasse,150000,12,benzin,mercedes_benz,no,2016-03-28,0,53844,2016-04-07 05:16:23
49962,2016-03-14 17:57:15,Mitsubishi_Space_Star_1__3_L__Bj_2004_Standhei...,private,Angebot,2200,test,limousine,2004,manual,82,andere,150000,4,benzin,mitsubishi,yes,2016-03-14,0,45481,2016-03-15 13:45:08
49963,2016-03-26 19:52:59,Mercedes_Benz_B_200_CDI_Special_Edition,private,Angebot,7600,control,bus,2007,manual,140,b_klasse,125000,5,diesel,mercedes_benz,no,2016-03-26,0,92272,2016-03-28 09:45:44
49965,2016-03-11 10:53:51,Opel_Astra_1.6_Lenkradheizung~Sitzheizung,private,Angebot,6700,test,limousine,2011,manual,116,astra,125000,3,benzin,opel,no,2016-03-11,0,37627,2016-03-15 01:44:57
49966,2016-04-02 19:49:19,Citroën_C1_1.0_**Euro4**TÜV_OKT_2017**Scheiten...,private,Angebot,1490,control,kleinwagen,2006,manual,68,c1,150000,7,benzin,citroen,yes,2016-04-02,0,26603,2016-04-02 19:49:19
49968,2016-04-01 17:49:15,Mercedes_Benz_190_D_2.5_Automatik,private,Angebot,2100,test,limousine,1986,automatic,90,andere,150000,9,diesel,mercedes_benz,no,2016-04-01,0,40227,2016-04-05 13:16:35
49969,2016-03-17 18:49:02,Nissan_X_Trail_2.2_dCi_4x4_Sport_m.AHZ,private,Angebot,4500,control,suv,2005,manual,136,x_trail,150000,5,diesel,nissan,no,2016-03-17,0,17379,2016-03-25 23:18:15
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,private,Angebot,15800,control,bus,2010,automatic,136,c4,60000,4,diesel,citroen,no,2016-03-21,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,private,Angebot,950,test,kleinwagen,2001,manual,50,lupo,150000,4,benzin,volkswagen,no,2016-03-29,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,private,Angebot,3300,control,bus,2004,automatic,150,vito,150000,10,diesel,mercedes_benz,yes,2016-03-26,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,private,Angebot,6000,control,cabrio,2004,manual,163,slk,150000,11,benzin,mercedes_benz,no,2016-03-27,0,53567,2016-03-27 08:25:24
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,private,Angebot,9700,control,kleinwagen,2012,automatic,88,jazz,100000,11,hybrid,honda,no,2016-03-27,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,private,Angebot,5900,test,kombi,1992,automatic,150,80,150000,12,benzin,audi,no,2016-03-19,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,private,Angebot,5500,control,limousine,2003,manual,116,c_klasse,150000,2,diesel,mercedes_benz,no,2016-03-31,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,private,Angebot,900,control,limousine,1996,automatic,136,e_klasse,150000,9,benzin,mercedes_benz,yes,2016-04-04,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,private,Angebot,11000,test,kleinwagen,2011,manual,90,polo,70000,11,diesel,volkswagen,no,2016-03-20,0,48455,2016-04-07 01:45:12
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,private,Angebot,2000,control,kombi,1998,manual,115,astra,150000,12,benzin,opel,no,2016-03-15,0,86859,2016-04-05 17:21:46
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,private,Angebot,15900,control,limousine,2010,automatic,218,300c,125000,11,diesel,chrysler,no,2016-04-04,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,private,Angebot,21990,control,limousine,2013,manual,150,a3,50000,11,diesel,audi,no,2016-03-22,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,private,Angebot,9550,control,coupe,2001,manual,231,3er,150000,10,benzin,bmw,no,2016-03-28,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,private,Angebot,150,test,kleinwagen,1997,manual,0,polo,150000,5,benzin,volkswagen,yes,2016-03-11,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,private,Angebot,17500,test,limousine,2012,manual,156,a_klasse,30000,12,benzin,mercedes_benz,no,2016-03-21,0,58239,2016-04-06 22:46:57
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,private,Angebot,4800,control,kleinwagen,2009,manual,120,andere,125000,9,lpg,fiat,no,2016-03-10,0,68642,2016-03-13 01:44:51
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,private,Angebot,5000,control,kombi,2001,automatic,299,a6,150000,1,benzin,audi,no,2016-03-22,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,private,Angebot,24900,control,limousine,2011,automatic,239,q5,100000,1,diesel,audi,no,2016-03-27,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,private,Angebot,1980,control,cabrio,1996,manual,75,astra,150000,5,benzin,opel,no,2016-03-28,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,private,Angebot,13200,test,cabrio,2014,automatic,69,500,5000,11,benzin,fiat,no,2016-04-02,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,private,Angebot,22900,control,kombi,2013,manual,150,a3,40000,11,diesel,audi,no,2016-03-08,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,private,Angebot,1250,control,limousine,1996,manual,101,vectra,150000,1,benzin,opel,no,2016-03-13,0,45897,2016-04-06 21:18:48